node_modules/
dist/
build/

.cache/
.temp/
coverage/


.env
.env.local
.env.development
.env.production


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
debug.log*


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


*.orig


.cache-loader/
.babelrc
.browserslistrc
.eslintcache
tsconfig.tsbuildinfo


eslint-report.html
eslint-report.txt


public/favicon.ico
public/*.png
